.root{
    -fx-padding: 15;;
}

.label{
    -fx-font-fill: #282c34;
    -fx-font-size: 1em;
}

.button{
    -fx-background-color: #b44646;
    -fx-text-fill: white;
    -fx-background-size: 50px;
}

#opaque{
    -fx-background-color: white;
}

.toggle-button {
    -fx-background-color: white;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
}

.toggle-button:selected{
    -fx-background-color: #fc9292;
}

.scroll-pane {
    -fx-background: #ddf5ee;
    -fx-border-color: #a05f5f;
}

#dateHorsMois{
    -fx-background-color: white;
    -fx-text-fill: #a9a9a9;
}

#today{
    -fx-background-color: #ff4f4f;
}